@charset "utf-8";
@import "../base/common";
.select-txt{
  background-color: transparent;
  outline: none;

}

.input-txt {
  background: none;
}
.class-type{
  line-height: 50px;
}
.class-type-img{
  display: inline-block;
  width: 100px;
  height:50px;
}
@media screen and(max-width: 480px) {
  .create-wrap {
    width: 100%;
    margin: 30px auto 0 auto;
    background: $fff;
    padding: 20px;
    border-top: 2px solid $box-show-cd;
    border-bottom: 2px solid $box-show-cd;
  }
  .tip-txt {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .input-bg {
    width: 100%;
    line-height: 44px;
    height: 44px;
    margin-bottom: 10px!important;
    border-bottom: 1px solid $box-show-cd;
  }
}

@media screen and(min-width: 480px) {
  .create-wrap {
    width: 450px;
    margin: 30px auto 0 auto;
    @include wrap-show;
    background: $fff;
    border-radius: 10px;
    padding: 20px 50px;
  }
  .tip-txt {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .input-bg {

    width: 100%;
    margin-bottom: 10px!important;
    span {
      margin-left: 15px;
    }
  }
}